body{
    background: linear-gradient(rgb(201, 200, 200),white
    );
}
.container {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.carousel-item img {
    height: 500px;
    width: 100%;
}